.TopLevelDisplay {
  padding: 15px 25px 10px 25px;
  text-align: center;
}

.main-text-area {
  background-color: #cbe7f6 !important;
  border: none !important;
  border-radius: 10px !important;
}

.analyze-button {
  margin: 20px 0px 10px 0px;
  width: 100%;
  background-color: #3587a4 !important;
  border-color: #3587a4 !important;
}
